.container{
    padding: 20px;
    display: flex;
    gap:20px;

}
input{
    border-radius: 10px;
    width: 30%;
    height: 2vw;
}
.icon{
    font-size: 1.9rem;
    background-color: blueviolet;
    padding: 4px;
    border-radius: 5px;
    font-weight: bold;
}