.header{
    display: flex;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.26);
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.footer{
    background-color: rgba(128, 128, 128, 0.26);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;

}