.container{
    display:flex;
    margin-top: 5%;
    gap:20px;
}
.result{
    background-color: aliceblue;
    position: absolute;
    top:25px;
    left:0; 
    min-width: 100%;
    max-height: 300px;
    color: black;
    overflow-y: scroll;

}
::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}
.searchContainer{
    position: relative;
}
.on{
    display:block;
}
.off{
        display:none;
}
.searchBox{
    display: flex;
    gap:5px;
}
.searchBox img{
    width: 15%;
    height: 5%;
}