.container{
  margin-top: 20px;
    z-index: 0;
  position: relative;
}
.table {
  margin-top: 5%;
  border-collapse: collapse;
  width: 100%;

}

.table thead {
  border-bottom: 2px solid white;
}

.table th, .table td {
  width: 20%;
  text-align: center;
  vertical-align: middle; 
  padding: 8px; 
}
.modalBox{
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  display: block;
  backdrop-filter: blur(3px);
}
.off{
  display: none;
}