.container{
    margin-top: 20px;
    background-color: white;
    /* border-radius: 10px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    padding:50px;

}
.inputBox{
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    height: 2vw;
    margin-top: 20px;
    padding: 5px;
}
.btn{
    grid-column: 1 /span 2;
    margin-top: 20px;
    height: 35px;
    background-color: blue;
    border-radius: 5px;
    color: white;
    border: 1px solid rgb(59, 59, 59);
}
.btn:hover{
    box-shadow: 0 8px 10px rgba(100, 113, 255, 0.6);
}
.error{
    background-color: rgba(245, 168, 168, 0.253); 
    color:rgb(187, 5, 5);
    /* font-weight: bold; */
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    visibility: visible;
}
.errorHide{
    visibility: hidden;
}