.container{
    width: 100%;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    gap:20px;
    margin-top: 10px;


}
.item{
    display: flex;
    /* align-items: center; */
    gap:8px;

}
.name{
    width: 100%;
}