.container{
text-align: center;
padding-top: 2vw;
color: blue;
    
}
.subtitle{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.badge a{
    background-color: lightblue;
    border-radius: 10%;
    color: blue;
    padding: 3px 5px;
    text-decoration: none;
    transition: 0.2s all ease-in-out;
}

.badge a:hover{
    background-color: blue;
    color: white;
}
.title{
    color: gray;
    padding-left: 10px;
}